package components


templ Counter(count int) {
    <form id="counterForm" hx-post="/increment" hx-swap="outerHTML">
        <h2>Count: {count}</h2>
        <button type="submit">+1</button>
    </form>
}